/**
 * @ Author: feixiang.wu
 * @ Create Time: 2020-02-24 08:28:57
 * @ Modified by: feixiang.wu
 * @ Modified time: 2020-11-26 09:37:20
 * @ Description: 全局通用样式
 */

// 主字体
$font-family: "思源黑体 CN Regular";
// 辅助字体
$bold-font-family: "思源黑体 CN Medium";
// 数字英文字体
$sub-font-family: "Montserrat Light";
// 其他字体
$reg-font-family: 'Montserrat Regular';
// 数字辅助字体
$bold-num-font-family: "Montserrat Medium", 'Montserrat';

// 主色
$primary-color: #5474E5;
// 辅助色
$secondary-color: #87b1ed;
// 导航色
$nav-color: #002b5d;
// 分割线
$divider-lcolor: #ebecf0;
// 边框
$border-color: #C3C6D5;
// 弹层边框
$border-color-dark: #8B92AC;
// 描边
$stroke-color: #cfcfcf;  
// 危险色
$danger-color: #ff4d4f;
// 文字颜色
$text-color: #FFFFFF;
// 背景 - 白
$back-color: #FFFFFF;
// 背景 - 灰
$back-color-gray: #E9ECED;
// 标题
$title-color: #181D41;
// logo
$logo-text-color: #333333;
// 正文
$body-color: #666666;
// 阴影
$shadow-color: #000000;
// 说明
$explain-color: #a6a6a6;
// 正确
$correct-color:#19AE75;
// 错误
$err-color:#ff5b5b;
//icon - 绿色
$correct-icon-color:#06B5D4;
// 警示
$warning-color:#F4B263;
//错误背景
$waring-bg-color: #FFF2F2;
//错误文字是
$waring-text-color: #F66B6E;
//正确背景
$correct-bg-color: #E9FFFC;
//正确文字
$correct-text-color: #00B99C;
// 浅色背景
$light-bg-color: #F2F4FD;
// 浅色背景
$lighter-bg-color: #F4F5F6;
$loading-bg-color: #F2F3F4;
// AGV
$agv-border-gray: #A9AFC7;
$agv-text-color: #111732;
$agv-bg-color: #424980;
$agv-border-color: #D6D6D6;
$agv-primary-color: #007AFF;
$agv-correct-text-color: #00B99C;
$agv-orange-color:#F59D33;
$agv-blue-color:#5B90E9;
$agv-err-color:#D75153;
$agv-bg-blue-color:#3384F3;
$agv-wait-bg-color:#E5F1FF;